body {
  background-color: rgba(178,206,222, 0.3);
  font-family: Raleway 100, sans-serif;
 }

h1 {
  font-size: 26px;
  font-family: Raleway 900, sans-serif;
  color: #344966;
}

h2 {
  font-size: 16px;
  font-family: Raleway 100, sans-serif;
  color: #B2CEDE;
}

a {
  color: #EEB4B3;
  text-decoration: none;
}

a:hover {
  color:rgb(150,150,150);
}

p {
  line-height: 1.5;
  padding: 0px 50px 0px 50px;
}

.container{
  width: 500px;
  margin: 0 auto;
}

.text-center{
 text-align: center;
}

.img-circle {
 height: 150px;
 width: auto;
 border-radius: 50%;
 border: 4px solid rgba(178,206,222, 0.7); 
}

.card-white {
  background-color: white;
  margin: 0px 0px 20px 0px;
  box-shadow: 0px 2px 2px rgb(230,230,230);
  padding: 5px 0px 5px 0px;
  border-radius: 8px;
}

#btn-blue {
  background-color: #B2CEDE;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px; 
  color: white;
  display: inline-block; 
}

#btn-blue:hover {
  background-color:#344966;
  color: rgb(240,240,240);
}

#sm-links {
  font-size: 40px;
  list-style: none;
  padding: 5px 0px 5px 0px;
  margin: 0px 0px 0px 0px;
}

#sm-links li {
  display: inline;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 300px;
  }
}